<!-- banner -->
	<div class="banner_top" id="home">
		<div class="wrapper_top_w3layouts">

			<div class="header_agileits">
				<div class="logo">
					<h1><a class="navbar-brand" href="/"><span>Pick</span> <i>Pitch</i></a></h1>
				</div>
				<div class="overlay overlay-contentpush">
					<button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>

					<nav>
						<ul class="w-100 ">
							<li><a href="index.html" class="sidebar-text">Home</a></li>
							<li><a href="about.html" class="sidebar-text">About</a></li>
							<li><a href="404.html" class="sidebar-text">Team</a></li>
							<li><a href="/product" class="sidebar-text">Shop Now</a></li>
							<li><a href="contact.html" class="sidebar-text">Contact</a></li>
                            <li class="w-100">
								<div class="d-flex justify-content-center" >
								{{#if user}}
									<button type="button" class="btn btn-info btn-lg"><a href="/" class="sidebar-text"><i class="fa fa-user"></i>{{user}}</a></button>
                        			{{else}}
									<button type="button" class="btn btn-info btn-lg" ><a href="/" class="sidebar-text"><i class="fa fa-user "></i>Login</a></button>
								{{/if}}
								<button type="button" class="btn btn-info btn-lg"><a href="/logout" class="sidebar-text"><i class="fa-sharp fa-solid fa-right-from-bracket"></i>Logout</a></button>
								</div>
                    		</li>

						</ul>
					</nav>
				</div>
                
				<div class="mobile-nav-button">
					<button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
				</div>
				<!-- cart details -->
				<div class="top_nav_right">
					<div class="shoecart shoecart2 cart cart box_1">
						<form action="#" method="post" class="last">
							<input type="hidden" name="cmd" value="_cart">
							<input type="hidden" name="display" value="1">
							<button class="top_shoe_cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
						</form>
					</div>

				</div>
				<!-- //cart details -->
				<!-- search -->
				<div class="search_w3ls_agileinfo">
					<div class="cd-main-header">
						<ul class="cd-header-buttons">
							<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
						</ul>
					</div>
					<div id="cd-search" class="cd-search">
						<form action="#" method="post">
							<input name="Search" type="search" placeholder="Click enter after typing...">
						</form>
					</div>
				</div>
				<!-- //search -->

				<div class="clearfix"></div>
			</div>
			<!-- /slider -->
			<div class="slider">
				<div class="callbacks_container">
					<ul class="rslides callbacks callbacks1" id="slider4">

						<li>
							<div class="banner-top2">
								<div class="banner-info-wthree">
									<h3>Football</h3>
									<p>See how good they feel.</p>

								</div>

							</div>
						</li>
						
						
						
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //slider -->
			<ul class="top_icons">
				<li><a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
				<li><a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
				<li><a href="#"><span class="fa fa-linkedin" aria-hidden="true"></span></a></li>
				<li><a href="#"><span class="fa fa-google-plus" aria-hidden="true"></span></a></li>

			</ul>
		</div>
	</div>
	<!-- //banner -->